ttgamma/ScaleFactors//Btag/DeepCSV_2016LegacySF_V1.btag.csv
ttgamma/ScaleFactors//MuEGammaScaleFactors/ele2016/egammaEffi.txt_EGM2D_runBCDEF_passingRECO.root
ttgamma/ScaleFactors//MuEGammaScaleFactors/ele2016/2016LegacyReReco_ElectronTight_Fall17V2.root
ttgamma/ScaleFactors//MuEGammaScaleFactors/pho2016/Fall17V2_2016_Tight_photons.root
ttgamma/ScaleFactors//MuEGammaScaleFactors/mu2016/EfficienciesStudies_2016_legacy_rereco_rootfiles_RunBCDEF_SF_ID.root
ttgamma/ScaleFactors//MuEGammaScaleFactors/mu2016/EfficienciesStudies_2016_legacy_rereco_rootfiles_RunGH_SF_ISO.root
ttgamma/ScaleFactors//MuEGammaScaleFactors/mu2016/EfficienciesStudies_2016_legacy_rereco_rootfiles_RunGH_SF_ID.root
ttgamma/ScaleFactors//MuEGammaScaleFactors/mu2016/EfficienciesStudies_2016_legacy_rereco_rootfiles_RunBCDEF_SF_ISO.root
ttgamma/ScaleFactors//MuEGammaScaleFactors/mu2016/EfficienciesStudies_2016_trigger_EfficienciesAndSF_RunBtoF.root
ttgamma/ScaleFactors//MuEGammaScaleFactors/mu2016/EfficienciesStudies_2016_trigger_EfficienciesAndSF_RunGtoH.root
ttgamma/ScaleFactors//taggingEfficienciesDenseLookup.pkl
